body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url(bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #e6edf3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 95%;
  max-width: 600px;
  text-align: center;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background-color: rgba(22, 27, 34, 0.4);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 30px #1f6feb44;
}

h1 {
  margin-bottom: 30px;
  color: #000000;
  font-size: 2.5rem;
  font-weight:600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.input-section {
  margin-bottom: 20px;
}

select {
  padding: 10px;
  width: 70%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

button {
  padding: 10px 15px;
  margin-left: 5px;
  background-color: #187a2c;
  box-shadow: #51d76b;
  color: white;
  border: none;
  border-radius: 7px;
  cursor:pointer;
}

.result-card {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: #0d1117;
  border: 1px solid #30363d;
  padding: 20px;
  border-radius: 30px;
  display: none;
  text-align: left;
  margin-top: 20px;
}

.result-card span {
  font-weight: bold;
}
